<%= render "shared/flash_message" %>
<div class="min-h-screen w-full overflow-hidden bg-rose-100 grid items-start justify-items-center">
  <div class="w-full max-w-6xl p-8 relative">
    <% my_ru = @room.room_users.find_by(user_id: current_user.id) %>

<%= form_with model: [@room, @proverb], class: "" do |f| %>
  <% if my_ru&.word_giver? %>
    <%= render "form_word_giver", f: f %>
  <% elsif my_ru&.proverb_maker? %>
    <%= render "form_proverb_maker", f: f %>
  <% else %>
    <p class="text-center text-gray-500">この部屋での権限がありません。</p>
  <% end %>
<% end %>
  </div>
</div>