<%= render "shared/flash_message" %>
<div class="bg-rose-100 h-full py-12 px-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    <% @proverbs.each do |proverb| %>
      <%# 投稿をクリックしたときに詳細のurlに飛ぶように %>
      <div
    data-controller="redirect"
    data-redirect-url-value="<%= proverb_path(proverb) %>"
    data-action="click->redirect#navigate"
    role="button"
    class="cursor-pointer"
    data-turbo="false">
        <div class="bg-white rounded-xl shadow-md p-4 flex flex-col items-center justify-between">
          <!-- ユーザー情報 -->
          <% proverb.proverb_contributors.each do |proverb_contributor| %>
            <%= proverb_contributor.user.name %>
          <% end %>
          <!-- ことわざタイトル -->
          <div class="border rounded-xl px-4 py-3 text-center w-full font-medium text-gray-900">
            <%= proverb.title %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
