<%= render "shared/flash_message" %>
<div class="min-h-screen w-full overflow-hidden bg-rose-100 grid place-items-center"
     data-controller="ai">

  <turbo-frame id="proverb_form" class="w-full flex justify-center">
    <%= render "proverbs/form", proverb: @proverb %>
  </turbo-frame>

</div>
