<div class="text-xl flex p-4 justify-center items-center gap-12 bg-pink-100">
  <%= link_to "利用規約", term_path, class: "underline hover:text-gray-700" %>
  <%= link_to "プライバシーポリシー", privacy_path, class: "underline hover:text-gray-700" %>
  <%= link_to "お問い合わせ", "#" %>
</div>
