<header>
  <div class="text-xl flex p-6 justify-between items-center bg-pink-50">
  <!-- 左側 -->
  <div>
    <%= link_to root_path do %>
      <i class="fa-solid fa-house text-2xl pl-8"></i>
    <% end %>
  </div>

  <!-- 右側 -->
  <div class="flex gap-6">
    <%= link_to "新規登録", "#", class: "py-2 px-4 font-bold" %>
    <%= link_to "ログイン", "#", class: "py-2 px-4 font-bold" %>
    <%= link_to "ランキング", "#", class: "py-2 px-4 font-bold" %>
  </div>
  </div>
</header>
