<div class="h-full w-full bg-cover bg-center"
     style="background-image: url('<%= asset_path('sakura.jpg') %>');">
  <div class="relative h-full flex flex-col items-center justify-center space-y-20 text-center">
    <h1 class="text-4xl font-bold">ないないことわざ</h1>
    <%= link_to "ことわざ一覧", "#", class: "bg-white py-12 px-30 font-bold rounded-xl shadow-lg hover:bg-rose-50 transition" %>
  </div>
</div>
