<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード再設定のご依頼を受け付けました。</p>

<p>以下のリンクから新しいパスワードを設定してください：</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし本メールに心当たりがない場合は、このメールは削除してください。</p>
